/*------------------------------------------------------------------------------*
  STATE STYLES
*------------------------------------------------------------------------------*/
.is-hidden {
  display: none;
}


/*Start of Medium Tablet Styles*/
@media only screen and (min-width: 440px) {

}

/*Start of Large Tablet Styles*/
@media only screen and (min-width: 768px) {


  .fa-bars {
    display: none;
  }

  .site-nav {
    display: block;
    ul {
      list-style-type: none;
    }
    li {
      display: inline;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: white;
      font-size: 1.5rem;
      transition: color .5s ease-in-out;
      &:hover {
        color: $myBlue;
      }
    }
  }

  .main-social-container {
    .social-icon {
      font-size: 1.75rem;
    }
  }
}



.is-hidden {
  display: none;
}
















/*
@media only screen and (min-width: 440px) {
  h1 {
    font-size: 3.125rem;
  }

  #hero_text {
    q, p {
      font-size: 1.375rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.0625rem;
  }

  #hero_text {
    q, p {
      font-size: 1.625rem;
    }
  }
}

@media only screen and (min-width: 1020px) {
  h1 {
    font-size: 4.6875rem;
  }

  #hero_content_container {
    width: 90%;
    margin: 0 auto;
  }

  #hero_text {
    q, p {
      font-size: 1.875rem;
    }
  }

  #profile_info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    #profile_image_container {
      flex: 1;
    }
    #profile_text {
      flex: 1;
    }
  }

}
*/
