/*------------------------------------------------------------------------------*
  MODULE STYLES
*------------------------------------------------------------------------------*/
//Site Header Styles
#site-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: .3125em solid white;
  position: relative;
  .fa-bars {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: $myBlue;
    }
  }
  > nav {
    position: absolute;
    top: calc(100% + .3125em);
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
    .block-li:nth-child(2) {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
    .cntr-link {
      color: white;
      font: 1.25rem $titleFontStack;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $myBlue;
      }
    }
  }
}

//Social Icon Container Styles
.social-icon-ctn {
  display: flex;
  justify-content: space-between;
  flex-basis: 135px;
  > a {
    text-decoration: none;
    cursor: pointer;
  }
  .social-icon {
    font-size: 2rem;
    color: white;
    transition: color .3s ease-in-out, transform .75s ease-in-out;
    &:hover {
      transform: rotate(360deg);
    }
  }
  .fa-facebook-square:hover { color: $fbBlue; }
  .fa-twitter-square:hover { color: $twBlue; }
  .fa-linkedin:hover { color: $liBlue; }
  .fa-github-square:hover { color: $ghBlue; }
}

#hero-ctn {
  background: url(/images/world.jpg);
  background-position: center center;
  background-size: cover;
  height: 400px;
}





.btn-transparent {
  background-color: transparent;
  border-style: none;
  padding: 0;
}

.ul-flush-left {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.block-li {
  display: block;
}

.cntr-link {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.content-ctn {
  padding: .625em;
}



#bio-container {
  background-color: $myLightEarthBlue;
  height: 50vh;
  h2 {
    background-color: white;
  }
}

#projects-container {
  background-color: white;
}

#contact-container {
  background-color: $myLightEarthBlue;

}

#site-footer {
  background-color: black;
}

/*Start of Desktop Styles*/
@media (min-width: 500px) {


  #site-header {
    grid-area: header;
  }

  #hero-ctn {
    grid-area: hero;
  }

  #bio-container {
    grid-area: bio;
  }

  #projects-container {
    grid-area: projects;
  }

  #contact-container {
    grid-area: contact;
  }

  #site-footer {
    grid-area: footer;
  }

  #headshot {
    display: inline-block;
    border: 5px solid white;
    border-radius: 5px;
    float: left;
    margin-right: 100px;
  }


}







//Main Site Navigation


//Main Social Media Decoration (Header)




#headshot {
  display: block;
  margin: 0 auto 10px auto;
}


#contact-ctn {
  > p {
    margin-bottom: 100px;
  }
}

















/*
#hero_text {
  text-align: center;
  q, p {
    font-size: 1.125rem;
    color: #FFFFFF;
    font-style: italic;
  }
  q {
    display: block;
    margin: .556em 0 .389em;
  }
  p {
    margin: 0;
  }
}

.fa-chevron-down {
  color: $myLime;
  font-size: 2.1875rem;
  position: absolute;
  bottom: .286em;
  animation: arrowDown 1s ease-in-out infinite alternate;
}

@keyframes arrowDown {
  from {
      transform: translateY(-4px);
  }
  to {
      transform: translateY(4px);
  }
}

.content_sections {
  h2, h3 {
    font-family: Bangers, $fontStack;
    text-align: center;
  }
  h2 {
    font-size: 1.563rem;
    margin: .400em 0;
  }
  h3 {
    font-size: 1.25rem;
    margin: 0 0 .5em 0;
  }
}

#profile_section {
  background-color: $myLightSkyBlack;
  border-top: .625rem solid $mySkyBlack;
  border-bottom: .625rem solid $mySkyBlack;
}

#profile_image_container {
  text-align: center;
  p {
    margin: .313em 0;
    &:last-child {
      margin-bottom: .625em;
    }
  }
}

#profile_image {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
}

.bold_text {
  font-weight: bold;
}

#profile_text {
  p {
    margin: 0 0 .625em 0;
  }
}

.parallax_img {
  height: 400px;
}

#earth_zoom {
    background: url("../images/clouds.jpg") center/cover fixed;
}

#projects_section {
  background-color: $myLightEarthBlue;
  border-top: .625rem solid $myEarthBlue;
  border-bottom: .625rem solid $myEarthBlue;
}

.indv_project {
  background-color: #FAFAFA;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.project_image {
  display: block;
  width: 100%;
  border: 1px solid black;
}

#earth_zoom2 {
    background: url("../images/skyline.jpg") center/cover fixed;
}

#contact_section {
  background-color: $myLightEarthBrown;
  border-top: .625rem solid $myEarthBrown;
  border-bottom: .625rem solid $myEarthBrown;
}

#contact_form {
  display: flex;
  flex-flow: column nowrap;
}


.button {
  padding: 5px 50px;
  border-radius: 20px;
  font-weight: bold;
  &:active {
      transform: translateY(4px);
  }
}

#contact_btn {
  align-self: center;
  background-color: $myEarthBrown;
  border: 1px solid black;
  margin-bottom: 10px;
  transition: padding 300ms;
  &:hover {
      padding: 5px 60px;
  }
}
*/
