/*------------------------------------------------------------------------------*
  MODULE STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/

//Hamburger Menu Decoration
.fa-bars {
  font-size: 1.75rem;
  border: 1px solid green;
  color: white;
  text-align: center;
}

//Social Media Icon Decoration
.social-container {
  border: 1px solid red;
  text-align: center;
}

.social-icon {
  color: white;
  font-size: 1.5rem;
  transition: color .3s ease-in-out, transform .75s ease-in-out;
}

.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin:hover {
  transform: rotate(360deg);
}

.fa-facebook-square:hover {
  color: $fbBlue;
}

.fa-twitter-square {
  margin: 0 .208em;
}

.fa-twitter-square:hover {
  color: $twBlue;
}

.fa-linkedin:hover {
  color: $liBlue;
}

//Some New Decoration




#hero_text {
  text-align: center;
  q, p {
    font-size: 1.125rem;
    color: #FFFFFF;
    font-style: italic;
  }
  q {
    display: block;
    margin: .556em 0 .389em;
  }
  p {
    margin: 0;
  }
}

.fa-chevron-down {
  color: $myLime;
  font-size: 2.1875rem;
  position: absolute;
  bottom: .286em;
  animation: arrowDown 1s ease-in-out infinite alternate;
}

@keyframes arrowDown {
  from {
      transform: translateY(-4px);
  }
  to {
      transform: translateY(4px);
  }
}

.content_sections {
  h2, h3 {
    font-family: Bangers, $fontStack;
    text-align: center;
  }
  h2 {
    font-size: 1.563rem;
    margin: .400em 0;
  }
  h3 {
    font-size: 1.25rem;
    margin: 0 0 .5em 0;
  }
}

#profile_section {
  background-color: $myLightSkyBlack;
  border-top: .625rem solid $mySkyBlack;
  border-bottom: .625rem solid $mySkyBlack;
}

#profile_image_container {
  text-align: center;
  p {
    margin: .313em 0;
    &:last-child {
      margin-bottom: .625em;
    }
  }
}

#profile_image {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
}

.bold_text {
  font-weight: bold;
}

#profile_text {
  p {
    margin: 0 0 .625em 0;
  }
}

.parallax_img {
  height: 400px;
}

#earth_zoom {
    background: url("../images/clouds.jpg") center/cover fixed;
}

#projects_section {
  background-color: $myLightEarthBlue;
  border-top: .625rem solid $myEarthBlue;
  border-bottom: .625rem solid $myEarthBlue;
}

.indv_project {
  background-color: #FAFAFA;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.project_image {
  display: block;
  width: 100%;
  border: 1px solid black;
}

#earth_zoom2 {
    background: url("../images/skyline.jpg") center/cover fixed;
}

#contact_section {
  background-color: $myLightEarthBrown;
  border-top: .625rem solid $myEarthBrown;
  border-bottom: .625rem solid $myEarthBrown;
}

#contact_form {
  display: flex;
  flex-flow: column nowrap;
}


.button {
  padding: 5px 50px;
  border-radius: 20px;
  font-weight: bold;
  &:active {
      transform: translateY(4px);
  }
}

#contact_btn {
  align-self: center;
  background-color: $myEarthBrown;
  border: 1px solid black;
  margin-bottom: 10px;
  transition: padding 300ms;
  &:hover {
      padding: 5px 60px;
  }
}
