/*------------------------------------------------------------------------------*
  VARIABLES
*------------------------------------------------------------------------------*/

$fontStack: Arial, Helvetica, sans-serif;
$myBlue: #7FFFFF;
$myEarthBlue: #6B93D6;
$myLightEarthBlue: #c3d3ee;
$myLime: #6FDC6F;
$myLightLime: #c1f0c1;
$myLightGray: #EDEEEF;
$myEarthBrown: #D8C596;
$myLightEarthBrown: #eae0c7;
$mySkyBlack: #262626;
$myLightSkyBlack: #a6a6a6;
