/*------------------------------------------------------------------------------*
  VARIABLES
*------------------------------------------------------------------------------*/

//Font Styles
$fontStack: Arial, Helvetica, sans-serif;

//My Colors
$myBlue: #7FFFFF;
$fbBlue: #3B5998;
$twBlue: #1DA1F2;
$liBlue: #0077B5; 
$myEarthBlue: #6B93D6;
$myLightEarthBlue: #c3d3ee;
$myLime: #6FDC6F;
$myLightLime: #c1f0c1;
$myLightGray: #EDEEEF;
$myEarthBrown: #D8C596;
$myLightEarthBrown: #eae0c7;
$mySkyBlack: #262626;
$myLightSkyBlack: #a6a6a6;
