/*------------------------------------------------------------------------------*
  BASE STYLES
*------------------------------------------------------------------------------*/
body {
  margin: 0;
}

h1, h2, h3 {
  font-family: $titleFontStack;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 .625em 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  font: 1rem $fontStack;
  margin: 0;
  line-height: 1.65em;
}

/*
h3 {
  font-size: 1.25rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
*/

/*
button {
  background-color: white;
  padding: .5em 1em;
  border-radius: 10px;
  border: 2px solid yellow;
}
*/



































/*
h1 {
  color: $myLime;
  font-weight: bolder;
  font: 2.1875rem Bangers, $fontStack;
  text-transform: uppercase;
  margin: 0;
}

p, q {
  line-height: 1.5;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black;
}
*/
