/*------------------------------------------------------------------------------*
  BASE STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
body {
  font: 100% $fontStack;
  background-color: white;
  margin: 0;
}



nav {
  border: 1px solid yellow;
  align-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

h1 {
  color: $myLime;
  font-weight: bolder;
  font: 2.1875rem Bangers, $fontStack;
  text-transform: uppercase;
  margin: 0;
}

p, q {
  line-height: 1.5;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black;
}
