/*------------------------------------------------------------------------------*
  MAIN SCSS IMPORT FILES
*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*
  VARIABLES
*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*
  BASE STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
body {
  font: 100% Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0; }

nav {
  border: 1px solid yellow;
  align-content: center; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }

nav ul {
  display: flex;
  flex-flow: row nowrap; }

li {
  display: inline-block; }

a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem; }

h1 {
  color: #6FDC6F;
  font-weight: bolder;
  font: 2.1875rem Bangers, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0; }

p, q {
  line-height: 1.5; }

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black; }

/*------------------------------------------------------------------------------*
  LAYOUT STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
#site-header {
  display: flex;
  flex-flow: row nowrap;
  padding: .625em;
  justify-content: space-between;
  align-items: center;
  background-color: black; }

#hero_header {
  background: url("../images/world.jpg") center/cover fixed;
  height: 100vh; }

.content_container {
  margin: 0 auto;
  width: 90%; }

#hero_content_container {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6); }

/*------------------------------------------------------------------------------*
  MODULE STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
.fa-bars {
  font-size: 1.75rem;
  border: 1px solid green;
  color: white;
  text-align: center; }

.social-container {
  border: 1px solid red;
  text-align: center; }

.social-icon {
  color: white;
  font-size: 1.5rem;
  transition: color .3s ease-in-out, transform .75s ease-in-out; }

.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin:hover {
  transform: rotate(360deg); }

.fa-facebook-square:hover {
  color: #3B5998; }

.fa-twitter-square {
  margin: 0 .208em; }

.fa-twitter-square:hover {
  color: #1DA1F2; }

.fa-linkedin:hover {
  color: #0077B5; }

#hero_text {
  text-align: center; }
  #hero_text q, #hero_text p {
    font-size: 1.125rem;
    color: #FFFFFF;
    font-style: italic; }
  #hero_text q {
    display: block;
    margin: .556em 0 .389em; }
  #hero_text p {
    margin: 0; }

.fa-chevron-down {
  color: #6FDC6F;
  font-size: 2.1875rem;
  position: absolute;
  bottom: .286em;
  animation: arrowDown 1s ease-in-out infinite alternate; }

@keyframes arrowDown {
  from {
    transform: translateY(-4px); }
  to {
    transform: translateY(4px); } }
.content_sections h2, .content_sections h3 {
  font-family: Bangers, Arial, Helvetica, sans-serif;
  text-align: center; }
.content_sections h2 {
  font-size: 1.563rem;
  margin: .400em 0; }
.content_sections h3 {
  font-size: 1.25rem;
  margin: 0 0 .5em 0; }

#profile_section {
  background-color: #a6a6a6;
  border-top: 0.625rem solid #262626;
  border-bottom: 0.625rem solid #262626; }

#profile_image_container {
  text-align: center; }
  #profile_image_container p {
    margin: .313em 0; }
    #profile_image_container p:last-child {
      margin-bottom: .625em; }

#profile_image {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center; }

.bold_text {
  font-weight: bold; }

#profile_text p {
  margin: 0 0 .625em 0; }

.parallax_img {
  height: 400px; }

#earth_zoom {
  background: url("../images/clouds.jpg") center/cover fixed; }

#projects_section {
  background-color: #c3d3ee;
  border-top: 0.625rem solid #6B93D6;
  border-bottom: 0.625rem solid #6B93D6; }

.indv_project {
  background-color: #FAFAFA;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px; }

.project_image {
  display: block;
  width: 100%;
  border: 1px solid black; }

#earth_zoom2 {
  background: url("../images/skyline.jpg") center/cover fixed; }

#contact_section {
  background-color: #eae0c7;
  border-top: 0.625rem solid #D8C596;
  border-bottom: 0.625rem solid #D8C596; }

#contact_form {
  display: flex;
  flex-flow: column nowrap; }

.button {
  padding: 5px 50px;
  border-radius: 20px;
  font-weight: bold; }
  .button:active {
    transform: translateY(4px); }

#contact_btn {
  align-self: center;
  background-color: #D8C596;
  border: 1px solid black;
  margin-bottom: 10px;
  transition: padding 300ms; }
  #contact_btn:hover {
    padding: 5px 60px; }

/*------------------------------------------------------------------------------*
  STATE STYLES
*------------------------------------------------------------------------------*/
/* Ordering of CSS Properties:
1) Positioning, 2) Display and Box Model, 3) Color, 4) Text, 5) Other
*/
@media only screen and (min-width: 440px) {
  h1 {
    font-size: 3.125rem; }

  #hero_text q, #hero_text p {
    font-size: 1.375rem; } }
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.0625rem; }

  #hero_text q, #hero_text p {
    font-size: 1.625rem; } }
@media only screen and (min-width: 1020px) {
  h1 {
    font-size: 4.6875rem; }

  #hero_content_container {
    width: 90%;
    margin: 0 auto; }

  #hero_text q, #hero_text p {
    font-size: 1.875rem; }

  #profile_info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; }
    #profile_info #profile_image_container {
      flex: 1; }
    #profile_info #profile_text {
      flex: 1; } }

/*# sourceMappingURL=main.css.map */
